.page-number {
    cursor: pointer;
    margin-right: 12px;
}

.card-main {
    margin: 10px;
    -webkit-box-shadow: 22px 27px 28px -40px rgba(0,0,0,0.75);
    -moz-box-shadow: 22px 27px 28px -40px rgba(0,0,0,0.75);
    box-shadow: 22px 27px 28px -40px rgba(0,0,0,0.75);
    }
  
.card-main:hover {
    background-color: #f8f8f8;
    -webkit-box-shadow: 10px 3px 17px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 3px 17px -7px rgba(0,0,0,0.75);
    box-shadow: 10px 3px 17px -7px rgba(0,0,0,0.75);
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  